<!DOCTYPE html>
<html>

<head>
    <title>{{name}}</title>
</head>

<body>
    {% if name == "sumomo" %}
    <h1>スペシャル{{name}}猫</h1>
    {% elif name %}
    <h1>{{name}}猫</h1>
    {% else %}
    <h1>ただの猫</h1>
    {% endif %}
    <form action="/index" method="POST">
        <input type="text" name="name" placeholder="Enter name">
        <input type="submit" value="Submit">
    </form>
    <img src="/static/images/cat.jpg" alt="猫">
    {% for onegai in all_onegai %}
    <p>{{onegai.title}}:{{onegai.body}} ({{onegai.date}})</p>
    {% endfor %}
</body>

</html>